

@model StoreApp.Models.Product



<h3>@Model.ProductName</h3>
<p>@Model.Price</p>
<a href="/Views/Product"></a>
    

@section Header {
    <div>
        Header for only Get
    </div>
}

@section Footer {

    <h4>Footer here </h4>
}